@charset "UTF-8";

body{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

#inc{
    margin-top: 10px;
}

input{
    width: 50px;
    border-radius: 5px;
}

p{
    margin-left: 10px;
}

label{
    margin-left: 10px;
}

#botao{
    width: 70px;
    height: 70px;
    background-color: aqua;
    margin-left: 205px ;
    border-color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.13);
}



header{
    text-align: center;
    color: white;
}

footer{
    text-align: center;
    color: white;
    font-size: 25px;
}

section{
    margin: auto;
    background-color: white;
    min-height: 200px;
    text-align: left;
    width: 300px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.493);
}

div#res{
    margin-left: 10px;
}